body, html {
  margin: 0px;
  height: 100%;
  cursor: default;
  background-color: #e60012;
  font-family: markwebpro-medium;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-app-region: drag;
}

.btn {
  text-align: center;
  margin: auto;
}

h3 {
  text-align: center;
  margin: auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: white;
}

p {
  /*font-family: markwebpro-thin;*/
  color: white;
  text-align: center;
}

p.main {
  margin: auto;
  padding-top: 1em;
}

p.end {
  bottom : 0;
  height : 40px;
  margin-top : 20px;
}

.buttons {
  text-align: center;
}

.menu {
  width: 400px;
  height: 300px;
  margin: auto;
  overflow-y: auto;
  background-color: white;
}

.corner {
  padding-left: 1em;
  padding-right: 1em;
}

.topright{
  position:absolute;
  top:0;
  right:0;
}

.topleft{
  position:absolute;
  top:0;
  left:0;
}

a.u {
  text-decoration: underline;
}
