body, html {
  margin: 0px;
  height: 100%;
  cursor: default;
  background-color: #e60012;
  font-family: markwebpro-medium;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-app-region: drag;
}

button {
  text-align: center;
  margin: auto;
}

h3 {
  text-align: center;
  margin: auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: white;
}

p.main {
  text-align: center;
  margin: auto;
  padding-top: 1em;
  color: white;
}

p.end {
  font-family: markwebpro-thin;
  color: white;
  bottom : 0;
  height : 40px;
  margin-top : 40px;
  text-align: center;
}

.menu {
  width: 400px; /* Set a width if you like */
  height: 300px;
  margin: auto;
  overflow-y: auto;
  background-color: white;
}
